* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #1A0B2E;
  color: #fff;
}

/* Top Navigation */
.navbar {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
  border-bottom: 1px solid rgba(65, 37, 103, 1);
  background: rgba(26, 11, 46, 1);
}

/* Logo */
.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo .tech {
  color: #ffffff;
}

.logo .wave {
  color: rgba(251, 9, 180, 1);
}

/* Menu */
.nav-menu {
  display: flex;
  gap: 32px;
}

.nav-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.3s;
}

.nav-menu a:hover {
  opacity: 1;
}

.primary-btn {
  height: 44px;
  padding: 12px 16px;

  display: flex;               
  align-items: center;
  justify-content: center;
  gap: 4px;                     

  border-radius: 10000px;
  border: none;
  cursor: pointer;

  color: #000;
  font-weight: 600;

  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

/* Arrow Icon */
.btn-icon {
  width: 20px;     
  height: 20px;    
}
