* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #1A0B2E;
  color: #fff;
}

/* Top Navigation */
.navbar {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
  border-bottom: 1px solid rgba(65, 37, 103, 1);
  background: rgba(26, 11, 46, 1);
}

/* Logo */
.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo .tech {
  color: #ffffff;
}

.logo .wave {
  color: rgba(251, 9, 180, 1);
}



/* Menu */
.nav-menu {
  display: flex;
  gap: 32px;
}

.nav-menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.3s;
}

.nav-menu a:hover {
  opacity: 1;
}

.primary-btn {
  height: 44px;
  padding: 12px 16px;

  display: flex;               
  align-items: center;
  justify-content: center;
  gap: 4px;                     

  border-radius: 10000px;
  border: none;
  cursor: pointer;

  color: #000;
  font-weight: 600;

  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

/* Arrow Icon */
.btn-icon {
  width: 20px;     
  height: 20px;    
}


/* BACKGROUND IMAGE */

.hero {
  width: 1600px;
  height: 760px;

  background: url("/assets/hero-bg.png") no-repeat center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #ffffff;
}

/* HERO VISUAL WRAPPER */
.hero-visual {
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 24px;
}

/* CIRCLE BACKGROUND */
.hero-circle {
  width: 350px;
  height: 350px;

  box-sizing: border-box;
  border: 8px solid rgba(42, 24, 108, 1);

  border-radius: 50%;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  display: block;
}

/* MICROPHONE IMAGE */
.microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
}

/* NEW BADGE */
.new-badge {
  position: absolute;
  top: 5px;
  right: 30px;
  

  width: 75px;
  height: 38px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 8px 16px;
  border-radius: 1000px;

  background: rgba(0, 255, 136, 1);
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);

  /* PULSING ANIMATION */
   animation: float-bounce 2s ease-in-out infinite;
}

@keyframes float-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px) scale(1.05); }
  100% { transform: translateY(0); }
}


.new-badge span {
  width: 43px;
  height: 22px;

  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #000;
}




/* TITLE */
.hero-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

/* SUBTITLE */
.hero-subtitle {
  width: 550px;
  height: 19px;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(255, 255, 255, 1);

  margin-bottom: 32px;
}

/* BUTTON GROUP */
.hero-buttons {
  display: flex;
  gap: 16px;
}

/* SPOTIFY BUTTON */
.btn-spotify {
  width: 201px;
  height: 44px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 12px 20px;

  border-radius: 10000px;

  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  font-weight: 600;
  color: #000;
}

/* MESSAGE BUTTON */
.btn-message {
  width: 147px;
  height: 44px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 12px 20px;

  box-sizing: border-box;
  border: 1px solid rgba(0, 255, 136, 1);
  border-radius: 10000px;

  color: rgba(0, 255, 136, 1);
}

/* BUTTON ICONS */
.btn-spotify img,
.btn-message img {
  width: 20px;
  height: 20px;
}



